.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  max-width: 600px;
  max-height: 600px;
  background-color: #fefefe;
}

.modal-content img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
